.cb-container{
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url(../../background-image/rays-back.png) fixed center no-repeat;

    /* background-color: #90be6d; */
    font-size: 5rem;
    color: white;
    
}

.failed-back{
    background-color: none;
    background: url(../../background-image/galaxy-back.png);
}

.fake{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: relative;
}

.failed-text{
    position:absolute;
    bottom: 30vh;
    right: 30vw;
    width: 40vw;
    height: auto;

}

.failed-text-mobile{
    width: 50vw;
    bottom: 20vh;
    right: 20vw;
}

.return-btn{
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    font-size: 3rem;
    background-color: blanchedalmond;
    padding: 0.2rem 0.6rem;
    border: 1rem solid black;
    transition: 0.3s ease-in-out;
    cursor:pointer;
}

.return-btn-mobile{
    position: fixed;
    top: 5vh;
    left: 5vw;
    font-size: 1.5rem;
    background-color: blanchedalmond;
    padding: 0.2rem 0.6rem;
    border: 0.5rem solid black;
    transition: 0.3s ease-in-out;
    cursor:pointer;
}

.return-btn:hover{
    transform: scale(0.9);
}

.classy-butt{
    /* display; */
    position:absolute;
    bottom: 0;
    right: 0;
    width: 60vw;
    height: auto;
}