.cb-container{
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url(../../background-image/rad.png) fixed center no-repeat;
    background-size: cover;
    /* background-color: #90be6d; */
    font-size: 5rem;
    color: white;
    
}

.failed-back{
    background-color: none;
    /* background: url(../../background-image/galaxy-back.png); */
}

.fake{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: relative;
}

.failed-text{
    position:absolute;
    padding: 1rem;
    bottom: 60vh;
    right: 20vw;
    width: 30vw;
    height: auto;
    background-color: white;
    border: 0.3rem solid black;
    border-radius: 0.8rem;

}

.failed-text-mobile{
    width: 60vw;
    bottom: 30vh;
    right: 20vw;
}

.try-again{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.return-btn{
    position: fixed;
    width: 10vw;
    min-height: 1vh;
    bottom: 5vh;
    left: 5vw;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    background-color: antiquewhite;
    /* text-shadow: 1px 1px 0 rgb(192, 181, 167),
                 1px 2px 0 rgb(192, 181, 167),
                 1px 3px 0 rgb(192, 181, 167),
                 1px 4px 5px rgb(192, 181, 167) ; */
    /* background-color: blanchedalmond; */
    padding: 0.2rem 0.6rem;
    /* border: 1rem solid black; */
    transition: 0.3s ease-in-out;
    cursor:pointer;
}

.return-btn-mobile{
    position: fixed;
    width: 40vw;
    min-height: 1vh;
    border: 2px solid black;
    border-radius: 0.4rem;
    background-color: antiquewhite;
    top: 5vh;
    left: 5vw;
    font-size: 1rem;
    text-shadow: 1px 1px 0 rgb(192, 181, 167),
                 1px 2px 0 rgb(192, 181, 167),
                 1px 3px 0 rgb(192, 181, 167),
                 1px 4px 5px rgb(192, 181, 167) ;
    /* background-color: blanchedalmond; */
    padding: 0.2rem 0.6rem;
    /* border: 0.5rem solid black; */
    transition: 0.3s ease-in-out;
    cursor:pointer;
}

.return-btn:hover{
    transform: scale(0.9);
}

.classy-butt{
    /* display; */
    position:absolute;
    bottom: 0;
    right: 0;
    width: 60vw;
    height: auto;
}

.classy-butt-mobile{
    width: 100vw;
    /* height: 40vh; */
}