.make-container{
    width: 100%;
    min-height: 100vh;

    overflow-x: hidden;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* background-color: #faa275; */
    
    background: url(https://ik.imagekit.io/qljqw3tvn/ibbutt/butt-group_tWEU30GZx.JPG) fixed center no-repeat;
    background-size: cover;

    /* border: 2px solid red; */
}

.grid-layout{
    width: 100%;

    display: grid;
    grid-template-columns: auto auto;

    column-gap: 2vw;
    
    align-items: center;
    justify-content: center;

    padding: 0;
    
    /* border: 5px solid white; */
}

.grid-layout-mobile{
    width: 100%;

    display: grid;
    grid-template-columns: auto auto;

    column-gap: 2vw;
    
    align-items: center;
    justify-content: center;

    padding: 0;
}

.make-heading{
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    /* border: 2px solid black; */
    margin-top: 5rem ;
    font-size: 5rem;
    text-shadow: 1px 1px 0 antiquewhite,
                 1px 2px 0 antiquewhite,
                 1px 3px 0 antiquewhite,
                 1px 4px 5px antiquewhite ;
}

.make-heading-mobile{
    height: 10vh;
}

.make-heading>h1{
    font-size: 6rem;
    align-self: center;
    justify-self: center;
}

.make-heading-mobile>h1{
    font-size: 2rem;
    align-self: center;
    justify-self: center
}

.make-generator{
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 70%;
    height: 80vh;
    /* border: 2px solid black; */
}

.poster-container{
    display: flex;
    position: relative;
    /* left: 0; */
    /* padding-top:20px ; */
    justify-content: center;
    padding: 0 0 0 0;
    height: 100vh;
    /* border: 2px solid red; */
}

.poster-info{
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 50px 0 0 0 ;
    /* margin-left: 5vw; */
    align-items: center;
    /* grid-column: 1 / span 2; */
    /* border: 5px solid blue; */
}

.make-generator-portrait{
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 80%;
    height: 80vh;
    /* border: 2px solid black; */
}

.make-generator-mobile{
    flex-direction: row;
}

.make-box{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;
    max-height: 80vh;
    width: auto;
    background-color:#F551BE; 
    /* #fc2f00; */
    border: 1rem solid black;
}

.make-box-container-portrait{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    /* border: 2px solid black; */
}

.make-box-mobile{
    width: 60%;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid black;
}

.make-butt-full{
    position: absolute;
    bottom: 0;
    left:0;
    /* float: left ; */
    max-height: 80vh;
    height: auto;
    width: 35vw;
    object-fit:contain;
    border: 1rem solid black;
}

.make-butt-portrait{
    position: absolute;
    bottom: 0;
    left:0;
    /* float: left ; */
    max-height: 80vh;
    height: auto;
    width: 80vw;
    object-fit:contain;
    border: 1rem solid black;
}

.make-butt-full-mobile{
    height: auto;
    width: 25vw;
    border: 0.6rem solid black;
}

.item-select{
    width: 25vw;
    padding: 10px 15px;
    font-size: 2.5rem;
    display: flex;
    text-align: center;
    justify-content:space-between;
}

.item-select-portrait{
    display: flex;
    width: 35vw;
    padding: 10px 15px;
    font-size: 0.6rem;
    display: flex;
    text-align: center;
    /* border: 2px solid black; */
    justify-content:space-between;
}

.item-select-mobile{
    /* width: 40vw; */
    font-size: 0.8rem;
    padding: 5px 7px;
    justify-content:space-between;
} 

.select-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 3rem;
    height: 3rem;
    border-radius: 0.8rem;
    font-size: 1rem;
    font-weight: bolder;
    border: 0.5rem solid black;
    background-color: blanchedalmond;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.select-btn-mobile{
    width: 1rem;
    height: 1rem;
    border-radius: 0.4rem;
    font-size: 0.6rem;
    font-weight: bolder;
    border: 0.1rem solid black;
}

.left{
    transform: rotate(90deg);
}

.right{
    transform: rotate(-90deg);
}

.left:hover{
    transform: rotate(90deg) scale(0.9);
}

.right:hover{
    transform: rotate(-90deg) scale(0.9);
}

.comic-img{
    width: 40vw;
    height: auto;
    margin: 15vh 0;
    align-items: center;
    object-fit: contain;
    padding: 2rem 0;
}

.comic-img-portrait{
    width: 70vw;
    min-height:10vh;
}

.poster-img{
    width: 30vw;
    /* transform: rotate(0deg); */
    /* background-color: transparent; */
    /* border: 2px solid red; */
    margin: 0;
    /* object-fit: cover; */
}

.goto-mint-btn{
    position: absolute;
    left:50%;
    bottom: 10%;
    transform: translate(-50%,0);
    min-width: 100px;
    width: 10vw;
    align-self: center;
    justify-self: center;
    /* margin-bottom:10rem ; */
    font-size: 1rem;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 0 rgb(192, 181, 167),
                 1px 2px 0 rgb(192, 181, 167),
                 1px 3px 0 rgb(192, 181, 167),
                 1px 4px 5px rgb(192, 181, 167) ;
    background-color: blanchedalmond;
    padding: 0.2rem 0.6rem;
    border: 0.5rem solid black;
    transition: 0.3s ease-in-out;
    cursor:pointer;
}

.goto-mint-btn-mobile{
    margin-top: 0.6rem;
    font-size: 0.8rem;
    bottom: 10%;
}

.goto-mint-btn:hover{
    transform: translate(-50%,0) scale(0.9)
}

@media only screen and (max-width: 758px){
    .grid-layout{
        min-height: 100vh;
        width: auto;
        /* height: 100vh; */
        /* height: 150vh; */
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        /* border: 2px solid red; */
    }
    .poster-img{
        /* margin-top: 5vh; */
        width: auto;
        height: 80vw;
    }
}

@media only screen and (max-width: 850px) {
    .grid-layout-mobile{
        height: 200vh;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        /* border: 2px solid blue; */
    }
    .poster-container{
        position: relative;
        min-height: 55vh;
        top: 0;
        margin-left: 0;
        margin-top: 5vh;
        height: 50vh;
        /* border: 2px solid blue; */
    }

    .goto-mint-btn{
        bottom: 0%;
    }
}