.util-container{
    width: 100%;
    min-height: 50vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding-bottom: 50px; */
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
    /* background: url("https://res.cloudinary.com/danielmeilleurimg/tictactoe/chalkboard-250");
    background-size: cover; */
}

.util-container::before {
    content: '';
    position:absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
  }

.util-cover{
    width: 50%;

    margin: 3rem 0 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    /* border:2px solid red; */
}


.util-grid{
    position: relative;

    width: 70vw;
    min-height: 20vh;
    height: auto;

    margin: 25px 0 50px;
    
    justify-content:space-around;
    align-items:center;

    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap:1rem;
    /* background-color: red; */
}

/* .lines {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
  } */

.banner-content{
    width: 70vw;
    min-height: 20vh;

    /* color:beige; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 2px solid red; */

    /* background-color: #ffbf69; */
}

.banner-text{
    width: 70%;
    text-align: center;
    font-size: 1.7rem;

    transform: rotate(-1deg);
}

.banner-text:nth-child(2){
    transform: rotate(1deg);
}

.banner-text>a{
    color: blue;
}


.util-content-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 100%;

    white-space: wrap;
    
    /* border: 2px solid red; */
}

.util-card{
    position: relative;

    /* width: 22vw; */
    width: 100%;
    min-height: 25vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border-radius: 10px; */
    background-color: #faedcd;

    box-shadow: 1px 1px 5px  #c9bf8d;
    transition: 0.3s ease-in-out;

    overflow-y: auto;

    /* word-break: break-all; */
    /* border: 2px solid black; */
}

.util-card::before{
    content: "O";
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
    font-size: 2rem;
    /* border-radius: 50%; */
}

.util-card:hover{
    box-shadow: 2px 4px 5px  #c9bf8d;
    transform: translateY(-2%) ;
    transition: 0.3s ease-in-out;
}

.util-card:hover::before{
    content: "X";
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
    font-size: 2rem;
    border-radius: 50%;
}

.util-heading{
    position: relative;
    justify-content: center;
    align-self: center;
    padding-top:20px;

    font-size: 1.5rem;
    font-weight: 600;
    /* border: 2px solid red; */
}

.util-list{
    position: relative;
    padding: 2rem 0 1rem 2rem;
    
    width: 100%;

    font-size: 1.2rem;
    list-style-position: outside;
    /* border: 2px solid black; */
}

@media only screen and (max-width: 1300px){
    .util-grid{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .util-card{
        width: 100%;
    }
    .util-content-box{
        width: 80%;
        /* border: 2px solid red; */
    }
}

@media only screen and (max-width: 758px){
    .util-grid{
        grid-template-columns: auto;
        /* border: 2px solid blue; */
    }
    .util-card{
        width: 100%;
        height: auto;
    }

    .banner-text,.util-list{
        font-size: 0.8rem;
    }
}