/* @import url(//db.onlinewebfonts.com/c/251039e6849ad977a8bfc40b564dce89?family=Didot); */
@font-face{
    src: url(../fonts/TheanoDidot-Regular.ttf);
    font-family: Didot;
}
.poster-box{
    position: relative;
    /* display: flex; */

    min-width: 300px;
    width: 30vw;
    min-height: 300px;
    height: auto;

    padding: 10px 15px ;

    font-family: Didot;
    /* font-family: Didot; */
    text-align: center;

    background-color: white;
    
    border: 4px solid black;
    border-radius: 15px;

    transform: rotate(-1deg);
}

.poster-box>h1{
    font-family: Didot;
    font-weight: 400;
    margin: 10px 0;
}

.poster-mid-section{
    position: relative;
    display: flex;
    text-align: center;
    line-height: 2rem;
    font-family: Didot;
    font-weight: 400;
}

.poster-mid-section>h1{
    margin-top: 10px;
    font-size: 1.8rem;
}

.poster-details-img{
    position: relative;
    width: 45%;
    left: -15px;
    top: 6px;

    /* border: 2px solid black; */
}

.poster-details{
    position: relative;
    /* right:0; */
    display: flex;
    flex-direction: column;
    float: right;

    width: 55%;

    /* border: 2px solid black; */
}

.poster-details>h1{
    font-family: Didot;
    font-weight: 400;
    /* line-height: 1rem; */
    margin: 10px 0;

    display: relative;
}

.poster-details-para{
    position: relative;

    margin: 10px 0 10px 0;

    font-family: Didot;
    font-size: 1.3rem;
    line-height: 1.5rem;

    /* border: 2px solid black; */
}


.underline {
    position: absolute;
    width: 90%;
    border-bottom: 3px solid black; 
    border-radius: 2px;
    left: 5%;
    bottom: -5px;
    /* background-color: black; */
    /* transform: rotate(2deg); */
  }  

  @media only screen and (max-width: 1300px) {
    .poster-mid-section>h1{
        font-size: 1.3rem;
    }

    .poster-details-para{
        font-size: 1rem;
        line-height: 1.3rem;
    }
  }