.choice-container{
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background: url(../../background-image/psy2-back.png) no-repeat center fixed; */
    /* background: url(https://ik.imagekit.io/qljqw3tvn/ibbutt/bg/psychedelic_I%20feel%20dizzy...__t08q8NcPB9.png); */
    background-size: cover;
    overflow: hidden;
    /* background-color: #FFBE0B; */
}

.choice-bg-img{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 110%;
    animation: psy-bg 8s infinite linear;
}

.choice-back{
    height: 20vh;
    width: 40vw;
    position: absolute;
    top: 0;
    /* z-index: 0; */
}

.choice-box{
    width: 70vw;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
}

.choice-img{
    /* position: absolute;
    top: 0%;
    left: 50vw; */
    min-width: 130px;
    width: 22vw;
    height: auto;
    transition: 0.5s ease-in-out;
    object-fit: contain;
    z-index: 1;
}

.choose-img-text{
    height: auto;
    min-width: 350px;
    width: 30vw;

    object-fit: contain;
    /* box-shadow: inset ; */
    /* border: 2px solid black; */
}

.choose-img-text-por{
    position: relative;
    top:5vh;
    width: 80vw;
    height: auto;
}

.line{
    position: absolute;
    height: 50vh;
    top:20vh;
    width: auto;
}
.choice-img:hover{
    transform: scale(1.1);
}

.choice-text{
    position: fixed;
    top: 10%;

    padding: 1rem;
    border: 0.8rem solid black;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color:  black;


    background-color: white;
    /* border: 2px solid red; */
}


.pause{
    position: absolute;
    padding: 0.2rem 0.5rem;
    right:10vw;
    bottom: 5vh;
    background-color: antiquewhite;
    border: 2px solid red;  
    cursor: pointer;  
}

@media only screen and (max-width: 850px) {
    .choice-text{
        top:10%;
        width: 50vw;
        font-size: 2rem;
        border: 0.5rem solid black;
    }

    .choose-img-text{
        min-width: none;
        height: 40vh;
        width: auto;
    }

    .choose-img-text-por{
        position: relative;
        top:5vh;
        width: 80vw;
        height: auto;
    }
}